body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  #qrcode {
    margin-top: 1rem;
    display: inline-block;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #qrcode {
    position: relative;
  }
  
  #logo {
    position: absolute;
    width: 64px; /* Adjust the logo size as needed */
    height: 64px; /* Adjust the logo size as needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%; /* Optional: add this line if you want rounded corners for your logo */
  }