/*
  Styles for QRComponent with class 'qr-container' so it has a good looking margin
*/

.qr-container {
  margin: 40px auto;
  width: 100%;
  max-width: 400px;
}

.qr-container button {
  margin: 20px auto;
}