/*
  The css necessary for the App component to render properly.
*/

html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  flex-shrink: 0;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-main {
  padding: 20px;
  flex-grow: 1;
}

.App-footer {
  flex-shrink: 0;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}